.container{
    margin-bottom: 50px;

}
.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom ,#FF589B ,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 20px;
    cursor: pointer;
    
}
.cat1{
    background-color: #ff136f;
    padding: 10px 25px;
    border-radius: 10px;
}
.cat2{
   background-color: olivedrab;
   padding: 10px 25px;
   border-radius: 10px;
}
.cat6{
    background-color: maroon;
    height: 68px;
    padding: 10px 25x 10px 25px;
    border-radius: 10px;
}
.categories h3{
     color: wheat;
}
.categories img{
    width: 100px;
    height: 50px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px;
}
#subscribe{
    height: 300px;
    background-color: lightsalmon ;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
    font-size: 12px;
}